body {
    background-image: url("https://wallpapertag.com/wallpaper/full/8/7/a/357215-large-basketball-court-background-2085x1251-for-1080p.jpg");
    background-color: #cccccc
}

.centerTitle{
    text-align: center;
    font-size: 60px
}

.nameTitle{
    text-align: center;
    font-size: 50px
}

.nameInputBar{
    text-align:center;
    font-size: 30px;
    align-items: center;
    padding-top: 150px
}

#searchName{
    font-size: 50px;
}

.card{
    background-color: #FFFFFF;
    width: 320px;
    list-style: none;
    border-radius: 5px;
    border: 1px solid #000000;
    margin: 10px
}

.cards{
    display:flex;
    flex-wrap:wrap;
}

.stats{
    font-size: 40px;
    padding: 10px;
    background-color: #000000;
    color: #FF0000;
    font-family: "Courier New"
}

.winning{
    font-size: 50px
}

.largePhoto{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    position: relative
}
  
.smallPhoto {
   position: absolute
}

#image1{
    top:80px;
    left:270px;
    z-index: 1
}

#image2{
    top:60px;
    left:600px;
    z-index: 2
}

#image3{
    top:40px;
    left:780px;
    z-index: 3
}

#image4{
    top:100px;
    left:1000px;
    z-index:4
}

#image5{
    top:80px;
    left:1250px;
    z-index: 5
}

.imageDiv{
    position:relative
}

.nextButton{
    color: #FFFFFF;
    background-color: #000000;
    font-size: 50px;
}
a:link { text-decoration: none; }


a:visited { text-decoration: none; }


a:hover { text-decoration: none; }


a:active { text-decoration: none; }

.middleButton{
    padding: 0px 20px;
    color: #000000;
    font-size: 30px
}

.lastButton{
    padding: 0px 20px;
    color: #000000;
    font-size: 20px
}

.title{
    text-align: center;
}

.image{
    text-align: center
}

.cardStats{
    padding: 0px 10px
}
